<% if @tweet.errors.any? %>
	<ul class="error-messages">
		<% @tweet.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for(@tweet) do |f| %>

	<p class="tweet-form">
		<%= f.label(:title) %>
		<%= f.text_field(:title, placeholder: 'Enter title here') %>
	</p>

	<p class="tweet-form">
		<%= f.label(:body) %>
		<%= f.text_field(:body, placeholder: 'Enter body here') %>
	</p>

	<p class="tweet-form">
		<%= f.label(:image) %>
		<%= f.file_field(:image) %>
	</p>

	<% if current_user.admin? %>
		<p class="tweet-form">
			<%= f.label(:user_id) %>
			<%= f.collection_select(:user_id, User.all, :id, :email) %>
		</p>
	<% end %>

	<p>
		<%= f.submit %>
	</p>

<% end %>