<!DOCTYPE html>
<html>
	<head>
	  <title>Fake Twitter</title>

	  	<!-- CSS Reset -->
		<link href="reset.css" type="text/css" rel="stylesheet">

		 <!-- My CSS File -->
		 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

		 <!-- Tab Icon -->
		 <link rel="icon" href="/images/cookie-icon.png">

		 <!-- Google Font -->
		 <link href="https://fonts.googleapis.com/css?family=Archivo|Rock+Salt" rel="stylesheet">

		 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

		 <%= csrf_meta_tags %>
	</head>

	<body>

		<div class="login">
			<% if user_signed_in? %>
				<li>Logged in as: <%= link_to(current_user.email, current_user) %></li>
				<li class="button"><%= link_to('Log Out', destroy_user_session_path, method: :delete) %></li>

			<% else %>

				<li class="button"><%= link_to('Log In', new_user_session_path) %></li>
				<li class="button"><%= link_to('Sign Up', new_user_registration_path) %></li>

			<% end %>
		</div>

		<div class="surround">
			<a href="/"><h1 class="header">{Fake}Twitter</h1></a>
		</div>

		<ul class="nav">	
			<li class="button"> <%= link_to('All Users', users_path) %></li>
			<li class="button"> <%= link_to('All Tweets', root_path) %></li>
			<li class="button"><%= link_to('Create a New Tweet', new_tweet_path) %></li>
			<li>
				<%= form_tag(root_path, method: :get) do %>
					<%= text_field_tag(:query, params[:query]) %>
					<%= submit_tag("Search") %>
				<% end %>
			</li>
		</ul>

	

<!-- using this flash in the Create method to say ur tweet was created
 -->	
 		<% if flash.alert %>
			<div class="alert"><%= flash.alert %></div>
		<% end %>
 
 		<% if flash.notice %>
			<div class="notice"><%= flash.notice %></div>
		<% end %>
	
		<div class="tweethome">
			<%= yield %> <!-- inserts the view -->
		</div>

	</body>

</html>
